<h3>Feedback Form</h3>
<nav>
    <a routerLink='/createFeedback'>Create</a>
    <a routerLink='/searchFeedback'>Search</a>
</nav>
<h3>Routing Module</h3>
<nav>
    <a routerLink='/currency'>Currency</a>
    <button (click)='navigateToCurrency()'>Currency</button>
</nav>
<router-outlet></router-outlet>
<div>
    ngOnChanges Hook won't work on updating reference object value:<input [(ngModel)]=employer[0].eName/>
  </div>
<div>
    ngOnChanges Hook works only on updating primitive type value:<input [(ngModel)]="conVal"/>
</div>
<app-currency [inr2usd]="conVal" [employer]="employer"></app-currency>
