<div>
  Date/Time: {{dateTime}} INR to USD : {{inr2USD}}<br>
  Name: {{user.userName}}<br>
  Address: {{user.address}}<br>
  <div *ngIf="user.phone.length">
    Phone Numbers:
    <p *ngFor="let phoneNo of user.phone">{{phoneNo}}</p>
   </div>
  </div>
<div>
  <div>Employer Name  Employer Address</div>
  <div>{{emp[0].eName}}</div>
   <div>{{emp[0].eAddress}}</div>
</div>
<br>
From:
<div>
  <select name="sFrom" [(ngModel)]="sForm">
    <option value={{from}} *ngFor="let from of cCode.fromLst">{{from}}</option>
  </select>
 </div>
 To:        
 <div>
   <select name="sTo" [(ngModel)]="sTo">
     <option value={{to}} *ngFor="let to of cCode.toLst">{{to}}</option>
   </select>
   {{inr2USD}}
 </div>
 <div style="padding-top: 1%">
   <input type="button" name="Convert" id="Convert" value="Convert" (click)="Convert()"/>
 </div>
 

