{{appTextChange.current}}{{appTextChange.previous}}
<div>
  Date/Time: {{dateTime}}<br>
  Name: {{user.userName}}<br>
  Address: {{user.address}}<br>
  <div *ngIf="user.phone.length">
    Phone Numbers:
    <div *ngFor="let phoneNo of user.phone">{{phoneNo}}</div>
   </div>
  </div>
  
<div>
   <div>Employer Name: {{emp[0].eName}}</div>
   <div>Employer Address: {{emp[0].eAddress}}</div>
</div>
<br>
From:
<div>
  <select name="sFrom" [(ngModel)]="sForm">
    <option value={{from}} *ngFor="let from of cCode.fromLst">{{from}}</option>
  </select>
 </div>
 To:        
 <div>
   <select name="sTo" [(ngModel)]="sTo">
     <option value={{to}} *ngFor="let to of cCode.toLst">{{to}}</option>
   </select>
   {{inr2USD}}{{errorMessage}}
 </div>
 <div style="padding-top: 1%">
   <button #styleClass name="Convert" (click)="Convert()">Convert</button>
 </div>
 <div>
   <button (click)="employerSubscribe()">Observable/Subscribe</button>
 </div>
 <div>
  <button (click)="clickPromise()">Promise/Then</button>
</div>
 
 <ng-content></ng-content>

